<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 讀取 NFC 標籤所需的權限 -->
    <uses-permission android:name="android.permission.NFC"/>
    <!-- 呼叫 Python API 所需的網路權限（debug/profile manifest 已有，但 release build 也需要，所以主 manifest 這裡也要加） -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- required="false"：讓沒有 NFC 的裝置也能安裝這個 App，
         實際有沒有 NFC 由 App 內用 NfcManager.checkAvailability() 判斷並顯示對應訊息 -->
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>

    <application
        android:label="NFC標籤讀取示意"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <!-- usesCleartextTraffic="true"：因為這個 Demo 是連到區網內的 http://<PC IP>:8000（非 https），
             Android 9 (API 28) 以上預設會擋明文 HTTP，所以這裡要打開 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
